<div class="signUp">
  <div class="signUpBoard">
    <h2 class="signUpFormTitle">Join Twettir today.</h2>

    <% if @user.errors.any? %>
      <ol>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ol>
    <% end %>
    <%= form_for(@user, :html => {:multipart => true}) do |f| %>
      <p>
        <%= f.email_field :email, :required => true, :placeholder => 'Email', :class => "signUpForm" %>
      </p>

      <p>
        <%= f.text_field :username, :required => true, :placeholder => 'Username', :class => "signUpForm" %>
      </p>

      <p>
        <%= f.text_field :name, :required => true, :placeholder => 'Name', :class => "signUpForm" %>
      </p>

      <p>
        <%= f.password_field :password, :required => true, :placeholder => 'Password', :class => "signUpForm" %>
      </p>

      <p>
        <%= f.password_field :password_confirmation, :required => true, :placeholder => 'Confirm Password', :class => "signUpForm" %>
      </p>

      <p>
        <%= f.cl_image_upload :profile_pic, :placeholder => 'Profile picture URL', :class => "signUpForm"  %>
      </p>

    <%= f.submit 'Sign up', :class => 'signUpFormButton' %>

    <% end %>
  </div>
</div>
